@{
    ViewData["Title"] = "Cadastro";
}

<div class="container d-flex justify-content-center align-items-center" style="height:80vh;">

    <div class="card shadow" style="width: 420px;">

        <div class="card-body">

            <h3 class="text-center mb-4">Criar Conta</h3>

            <form method="post" asp-action="Cadastro">

                <div class="mb-3">
                    <label class="form-label">Nome</label>
                    <input type="text" name="Nome" class="form-control" minlength = "10" required />
                </div>

                <div class="mb-3">
                    <label class="form-label">Email</label>
                    <input type="email" name="Email" class="form-control" required />
                </div>

                <div class="mb-3">
                    <label class="form-label">Usuário</label>
                    <input type="text" name="Login" class="form-control" minlength="5" required />
                </div>

                <div class="mb-3">
                    <label class="form-label">Senha</label>
                    <input type="password" name="Senha" class="form-control" minlength="8" required />
                </div>

                <div class="d-grid">
                    <button type="submit" class="btn btn-success">
                        Criar Conta
                    </button>
                </div>

            </form>

            <hr />

            <div class="text-center">
                <a href="/Auth/Login">Voltar para Login</a>
            </div>

        </div>

    </div>

</div>