@{
    ViewData["Title"] = "Inicio";
}

<div class="container d-flex justify-content-center align-items-center" style="height:70vh;">

    <div class="card shadow text-center" style="width: 500px;">

        <div class="card-body">

            <h1 class="mb-3">Bem-vindo ao Sistema de Gerenciamento de Tarefas</h1>

            <p class="text-muted">
                Este sistema consiste em um gerenciador de tarefas que permite ao usuário registrar, acompanhar 
                e organizar suas atividades. A plataforma possibilita a criação, edição, conclusão e exclusão de tarefas, 
                facilitando o controle das tarefas diárias.
            </p>

            <hr />

            <div class="d-grid gap-2">

                <a href="/Auth/Login" class="btn btn-primary btn-lg">
                    Acessar Tela de Login
                </a>

            </div>

        </div>

    </div>

</div>